body {
  background-color: #c1c1c100;
  margin: auto;
}
* {
  box-sizing: border-box;
}
.navi {
  position: fixed;
  margin-top: 2%;
  width: 100%;
  top: -70vh;
  height: 9vh;
  display: flex;
  justify-content: center;
  word-spacing: 5vh;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  background-blend-mode: color;
  background-color: #ffffff;
  z-index: 1;
  transition: 0.6s;
}
.navi :hover {
  color: brown;
  border-bottom-style: ridge;
  border-width: 1px;
}

.navi,
a {
  position: fixed;
  top: -38px;
}
a {
  position: sticky;
  top: -1px;
}
.imges {
  position: relative;
  top: 69vh;
}
a {
  color: black;
  text-decoration: none;
}
.logo {
  font-size: 2em;
  scale: 150%;
  position: fixed;
  left: 8vh;
  top: 2vh;
  color: brown;
}
p {
  position: fixed;
  top: 6vh;
  left: 7.2vh;
  font-size: 0.5em;
}
.slide {
  float: left;
  height: 510px;
  width: 728px;
}

.store{
  display:flex;
  position: relative;
  left: 19vh; 
  scale: 69%; 
  filter: brightness(114%);
  width: 20px;
}
.sales1 {

  width: 0%;
  height: 100vh;
  background-color: rgba(231, 205, 186, 0.994);
  z-index: -1;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  color: rgb(0, 0, 0);
  position: relative;
  visibility: hidden;
  left: 65%;
  top: -10vh;
}
.today {
  width: 100%;
  height: 10vh;
  background-image: url(ads/pexels-karolina-grabowska-5650026.jpg);
  display: flex;
  justify-content: space-evenly;
  background-position: center;
  background-size: contain;
  position: relative;
  top: 10vh;
  z-index: 1;
}
.today1 {
  font-size: 3.7em;
  color: rgb(255, 255, 255);
  letter-spacing: 1vh;
  text-transform: uppercase;
}
.sales {
  filter: saturate(60%);
  margin-top: -110vh;
  width: 100%;
  height: 100vh;
  background-image: url(ads/domino-164_6wVEHfI-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(186, 224, 231, 0.994);
  z-index: 1;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  color: rgb(0, 0, 0);
}

.type {
  color: rgb(255, 255, 255);
  position: relative;
  top: 190%;
  font-size: 1em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  scale: 390%;
  text-transform: uppercase;
  word-spacing: 2vh;
  left: 20%;
}
.under {
  width: 100%;
  height: 50vh;
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  color: black;
  margin-top: 0%;
  position: relative;
  left: -1%;
  scale: 79%;
}
.sold {
  position: relative;
  top: 20%;
  width: 19%;
  scale: 80%;
  height: 55vh;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 0px 20px rgba(108, 103, 103, 0.355);
  border-top: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgba(255, 255, 255, 0.861);
}
.dis {
  margin-left: 20%;
  letter-spacing: 0.5vh;
  color: rgb(153, 147, 147);
  font-weight: bolder;
  font-family: sans-serif;
  margin-top: 20%;
  padding-top: 2vh;
}

.price {
  letter-spacing: 0.5vh;
  display: flex;
  justify-content: center;
  margin-top: -75%;
  text-transform: uppercase;
  font-size: 2.0em;
  font-family: "Times New Roman", Times, serif;
  padding-top: 4vh;
}
.sold1 {
  background-position: center;
  display: flex;
  text-align: center;
  margin-top: -42%;
  width: 257%;
  height: 83vh;
  position: relative;
  left: -80%;
  scale: 49%;
  background-repeat: no-repeat;
  background-image: url(products/KEYBOARD.png);
  filter: brightness(110%);
  cursor: pointer;
  transition: 0.4s;
}
.sold1:hover {
  filter: contrast(130%);
  scale: 52%;
  overflow: hidden;
}
#sold3 {
  background-image: url(products/shoe1.png);
}
#sold2 {
  background-image: url(products/watch.png);
  cursor: pointer;
}
#sold9 {
  background-image: url(products/pexels-pixabay-277390.jpg);
}
#sold4 {
  background-image: url(products/shoe.png);
}
#sold6 {
  background-image: url(products/charger.png);
}
#sold5 {
  background-image: url(products/headset.png);
}
#sold7 {
  background-image: url(products/KEYBOARD.png);
}
#sold8 {
  background-image: url(ads/k7.png);
}
#sold10 {
  background-image: url(ads/mouse.png);
}
#sold11 {
  background-image: url(products/bag.png);
}
#sold12 {
  background-image: url(products/watch.png);
}
#sold13 {
  background-image: url(products/server.png);
}
#sold14 {
  background-image: url(products/caleb4.png);
}
#sold15 {
  background-image: url(products/caleb1.png);
}
#sold16 {
  background-image: url(ads/w1.png);
}
#sold17 {
  background-image: url(ads/k1.png);
}
#sold18 {
  background-image: url(ads/k5.png);
}
#sold19 {
  background-image: url(ads/m7.png);
}
#sold20 {
  background-image: url(ads/w8.png);
}
#sold21 {
  background-image: url(ads/m6.png);
}
#sold22 {
  background-image: url(ads/k10.png);
}
#sold23 {
  background-image: url(ads/m2.png);
}
#sold24 {
  background-image: url(ads/w3.png);
}
#sold25 {
  background-image: url(ads/m4.png);
}
#sold26 {
  background-image: url(ads/w4.png);
}
#sold27 {
  background-image: url(ads/k8.png);
}
#sold28 {
  background-image: url(ads/m9.png);
}
#sold29 {
  background-image: url(ads//w9.png);
}
#sold30 {
  background-image: url(ads/k9.png);
}
#sold31 {
  background-image: url(ads/w7.png);
}
#sold32 {
  background-image: url(ads/m7.png);
}
#sold33 {
  background-image: url(ads/k7.png);
}
#sold34 {
  background-image: url(ads/m3.png);
}
#sold35 {
  background-image: url(ads/w5.png);
}
#sold36 {
  background-image: url(ads/k6.png);
}
#sold37 {
  background-image: url(ads/k1.png);
}
#sold38 {
  background-image: url(ads/k2.png);
}
#sold39 {
  background-image: url(ads/k3.png);
}
#sold40 {
  background-image: url(ads/k4.png);
}
#sold41 {
  background-image: url(ads/k5.png);
}
#sold42 {
  background-image: url(ads/k6.png);
}
#sold43 {
  background-image: url(ads/k7.png);
}
#sold44 {
  background-image: url(ads/k8.png);
}
#sold45 {
  background-image: url(ads/k9.png);
}
#sold46 {
  background-image: url(ads/k10.png);
}
#sold47 {
  background-image: url(ads/w1.png);
}
#sold48 {
  background-image: url(ads/w2.png);
}
#sold49 {
  background-image: url(ads/w3.png);
}
#sold50 {
  background-image: url(ads/w4.png);
}
#sold51 {
  background-image: url(ads/w5.png);
}
#sold52 {
  background-image: url(ads/w6.png);
}
#sold53 {
  background-image: url(ads/w7.png);
}
#sold54 {
  background-image: url(ads/w8.png);
}
#sold55 {
  background-image: url(ads/w9.png);
}
#sold56 {
  background-image: url(ads/w10.png);
}
#sold57 {
  background-image: url(ads/m1.png);
}
#sold58 {
  background-image: url(ads/m2.png);
}
#sold60 {
  background-image: url(ads/m3.png);
}
#sold61 {
  background-image: url(ads/m4.png);
}
#sold62 {
  background-image: url(ads/m5.png);
}
#sold63{
  background-image: url(ads/m7.png);
}
#sold64{
  background-image: url(ads/m10.png);
}
#sold65{
  background-image: url(ads/m3.png);
}
#sold66{
  background-image: url(ads/m5.png);
}
#sold56 {
  background-image: url(ads/w10.png);
}
#sold59 {
  background-image: url(products/new\ men.png);
}

.loader{
  filter: contrast(610%);
   filter: invert(900%);
    filter: brightness(100%);
     filter: saturate(1%);
     border-radius: 100%;
      position:fixed;
       right:47.5%;
        top: 10%;
         transition: 1s;

}

.sold2 {
  display: flex;
  text-align: center;
  margin-top: -21%;
  width: 10%;
  scale: 120%;
  height: 53vh;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.7s;
  filter: invert(60%);
}
.sold2:hover {
  opacity: 50%;

  filter: invert(-35%);
}
#sold9 {
  display: flex;
  justify-content: center;
  height: 70vh;
  position: relative;
  left: -125%;
  width: 250%;
  background-color: rgb(89, 197, 161);
}
.under1 {
  width: 100%;
  height: 90vh;
  background-color: hsl(193.85, 86.67%, 8.82%);
  display: flex;
  justify-content: space-evenly;
  color: black;
  margin-top: 4%;
  scale: 79%;
  box-shadow: 5px 0px 20px rgba(16, 14, 14, 0.355);
  border-top: 1px solid rgb(194, 161, 161);
  border-right: 1px solid rgba(31, 20, 20, 0.861);
}
.under3 {
  width: 100%;
  height: 70vh;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-evenly;
  color: black;
  scale: 78%;
  margin-top: -3%;
}
#big {
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 1vh;
  position: relative;
  top: -55%;
  left: -35%;
  scale: 150%;
}
#preview {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.2vh;
  position: relative;
  top: -115%;
  left: 63%;
  scale: 190%;
  filter: invert(-100%);
  color: rgb(103, 60, 41);
}

.slider1 {
  width: 100%;
  height: 50vh;
  margin-top: -10%;
  background-color: rgb(255, 255, 255);
}
.foot {
  background-image: url(Screenshot\ 2023-11-16\ 221055.png);
  width: 100%;
  height: 50vh;
  margin-top: -15%;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
}

.games {
  filter: saturate(360%);
  background-image: url(ads/1369161826-xbox-one-11.jpg);
  width: 100%;
  height: 50vh;
  background-position: center;
  background-position-y: 40%;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  background-repeat: no-repeat;
}
.games h1 {
  position: relative;
  top: 40%;
  font-size: 2.7em;
  letter-spacing: 1vh;
}

.media {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
}
.video {
  width: 70%;
  height: 30vh;
}

footer {
  background-color: #463e3e;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin: 0 20px;
  color: white;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 14px;
  margin: 5px 0;
  color: white;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

video {
  width: 100%;
}
.profile {
  margin-top: 4%;
  width: 100%;
  height: 67vh;
  display: flex;
  justify-content: space-evenly;
  background-color: #22374d;
  position: relative;
  z-index: 1;
}
.look {
  margin-top: 10%;
  width: 25%;
  height: 20vh;
  background-color: white;
  border-radius: 10px;
}

.login-container {
  margin-top: 10%;
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  height: inherit;
  display: flex;
  justify-content: space-evenly;
}

.login-container h2 {
  text-align: center;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.form-group input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.form-group button:hover {
  background-color: #45a049;
}
.contain{
  width: 60%;
  height: 40%;
  background-color: white;
  position: relative;
  top:49%;
  display: flex;
  justify-content: space-evenly;
  border-radius: 9px;

}
.shoping{
  position: relative;
 margin-top: 5%;
  height: 50vh;
  background-color: #22374d;
  display: flex;
  justify-content: space-evenly;
  color: white;
}
.shopping_messaage {
  width: 50%;
  height: 49vh;
  background-color: rgb(0, 0, 0);
  text-transform: uppercase;
  color: black;
}
.form{
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  background-color: #ffffff;
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 2em;
  margin-top: 7.9%;
}
table{
  margin-top: -180%;
  position: relative;
  left: 190%;
 
  z-index: 1;
}
.table{
 
  position: relative;
  top: 40vh;
 
}
.shopping_form input[type="text"],
.shopping_form input[type="email"],
.shopping_form input[type="password"] {
 width: 100%;
 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;
 box-sizing: border-box;
 font-size: 16px;
}

.shopping_form button[type="submit"] {
 width: 100%;
 background-color: #4caf50;
 color: white;
 padding: 14px 20px;
 margin: 8px 0;
 border: none;
 cursor: pointer;
 font-size: 16px;
}

.shopping_form button[type="submit"]:hover {
 background-color: #45a049;
}


/* General styles */


/* Media Queries for Responsiveness */

@media (max-width:1331px) {
.navi{
  width: 250%;
  font-size: 1rem;
  position: fixed;
  right: -51%;
  background-color: transparent;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.393);
  top: auto;
  
}
.navi a{
  color: white;
}
.logo{
  position: fixed;
  height: auto;
  width: fit-content;
  font-size: 1rem;  
  background-color: black;
  top: 10vh;
}
.price{
  visibility: hidden;
}
.dis{
  position: relative;
  top: -40vh;
}
.sold{
  width: fit-content;
}
.sold1{
  scale: 30%;
}
.under,.under1,.under3,.games,.today,.profile,.media,.sales,footer,.video,.slider1{
  width: 250%;
  height: max-content;
}
.slider1{
  width: fit-content;
  height: fit-content;
}
.profile{
  position: relative;
  background-color:transparent;
  height: 200vh;
  z-index: 1;
  margin-top: auto;

}
.look{
  height: max-content;
  width: max-content;
  position: relative;
  scale: 170%;
  top: 30vh;
 
}
}
@media (max-width:2560px) {
  .price{
    visibility: hidden;
  }
  .dis{
    position: relative;
    top: -20vh;
  }
  
}


